header {
  display: inline;
}

h1{
  /* Title of Anu Shrestha */
  color: #fff;
  /*margin-left: 350px;*/
  font-family: 'Muli', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Navigation bar */
ul.nav {
  background-color: hsla(150,100%,29%,0.44);
  list-style-type: none;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 0px;
  margin-left: 0px;
  padding-top: 10px;
  padding-right: 0px;
  padding-bottom: 10px;
  padding-left: 0px;
  border-style: solid;
  border-color: black;
  border-left: 0;
  border-right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5vw;
  }

li {
    display: inline;
    width: 100%
    text-align: center;
    padding-top: 14px;
    padding-right: 146px;
    padding-bottom: 10px;
    padding-left: 16px;
    text-decoration: none;
}
a:link, avisited{
  color: black;
}
a{
  text-decoration: none;
}
/* Pragraph for my Here and Now */
.hn{
      background-color: rgba(116, 158, 179, 0.34);
      font-family: 'Muli', sans-serif;
      width: 600px;
      margin-left: 20px;
      margin-right: 200px;
      border-radius: 45px;
      border-color: black;
      border-style: dashed;
      padding-left: 25px;
      padding-right: 5px;
      float: left;
}
.seal{
  margin-left: 250px;
}
.future{
  margin-left: 20px;
  border-radius: 45px;
  border-color: black;
  border-style: dashed;
  padding-left: 25px;
  background-color: rgba(116, 158, 179, 0.34)
}
h4{
  text-align: center;
  font-family: 'Muli', sans-serif;
  justify-content: center;

}
#profile {
  border: 5px;
  border-color: black;
  height: 350px;
  width: 350px;
  margin-left: 700px;
  border-radius: 25px;
  margin-bottom: 200px;
  margin-top: -50px;
}
.hnsection{
display: inline;
}

body {

  /* Background of boats */
  background: url('images/boat.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  margin-left: 0;
  margin-right: 0;
}

/* All the code for photos*/

#pics {
  margin-left:25px;
  margin-right: auto;
  width: 1000px;
  display: -webkit-inline-box
}
#italyinfo{
  width:300px;
  margin-left: 25px;
}
#doginfo{
  width: 300px;
  margin-left: 20px;
  margin-right: 20px;
}
#bluebelt{
  width: 300px;
}

#italy{
  border-radius: 25px;
  margin: 10px;
  margin-bottom: 28px;
}
#dog{
  border-radius: 25px;
  margin-bottom: 30px;
  margin-top: 20px;
}
#bjj{
  border-radius: 25px;
  margin-top: 10px;
  margin-bottom: 150px;
}
p2{
  color: white;
  font-family: 'Muli', sans-serif;
}
p{
  font-family: 'Muli', sans-serif;
}

.text{
  background-color: rgba(37, 50, 64, 0.72);
  border-radius: 25px;
  padding-left: 12px;
  padding-top: 12px;
  padding-bottom: 12px;
}

#h3dog{
  margin-bottom: 10px;
  margin-left: 80px;
}
#h3italy{
  margin-left: 130px;
}
#h3bjj{
  margin-left: 100px;
}
